@media (min-width:1000px) {
    .cards{
        flex-direction: row;
        
        height: 128px;
        width: 1146px;
    }
       




    .categories-title{
        text-align: left;
        font-weight: bolder;
        font-family: 'Fira Sans';
        margin-left: 140px;
        
    }

   .vacansies-cards{
    width: 1146px;
    height: 700px;
   }

 

.vacansies-card{
    flex-direction:row ;
    width: 1146px;
    height: 160px;
    border-radius: 10px;
}
 
.categories-title{
    width: 1146px;
    margin: 0 auto;
    font-weight: bolder;
    font-family: 'Fira Sans';


 
}

.vacancie-stack{
    font-family: 'Fira Sans';
    color: #B2B2B2;
    display: flex;
    flex-direction: row;
    
}

.Reac {
border: 1px solid #B2B2B2;
border-radius: 5px;
width: 50px;
margin-right: 10px;
text-align: center;

}
.Sass{
border: 1px solid #B2B2B2;
border-radius: 5px;
width: 50px;
margin-right: 10px;
text-align: center;
}
.Figma{
border: 1px solid #B2B2B2;
border-radius: 5px;
width: 50px;
margin-right: 10px;
text-align: center;
}

label{
    display: none;

}
.menu-btn{
    display: inline;
}

.section{
    height: 1008px;
}
.jobs-title{
    width: 1146px;
    margin: 0 auto;
    font-weight: bolder;
    font-family: 'Fira Sans';
    

}

.vacansies-card{
    padding-left: 35px;
    padding-right: 35px;
}
.btn-coast{
    width: 113px;
    height: 39px;
    color: #FFFFFF;
    font-weight: 700;

}
 .stackes{
    margin-right: 15px;
 }
}


